<div class="container">
    <h1 class="text-center">Guida all'utilizzo di METEOPERFETTO:</h1>
    <div>
      <h5>Benvenuto su METEOPERFETTO</h5>
      <p>Il nostro sito offre un servizio di previsioni meteo preciso e affidabile per aiutarti a pianificare la tua giornata.</p>
      <h5>Come utilizzare METEOPERFETTO:</h5>
      <h5>Per visualizzare il meteo di oggi:</h5>
      <ol>
        <li>Clicca su <a href="/TODAY">OGGI</a> per aprire la pagina che ti permetterà di visualizzare il meteo <b>attuale</b> di una qualsiasi città!</li>
        <li>Per cercare una città scrivi sulla barra di ricerca (dove compare la scritta "Inserisci la città") il suo nome</li>
        <li>A questo punto basterà premere il tasto "Cerca", accanto alla barra di ricerca, per ottenere le informazioni sul meteo della città in tempi record!</li>
      </ol>
      <h5>Per visualizzare 5 giorni di meteo:</h5>
      <ol>
        <li>Clicca su <a href="/WEEKLY">SETTIMANALE</a> per aprire la pagina che ti permetterà di visualizzare il meteo <b>da oggi a cinque giorni</b> di una qualsiasi città!</li>
        <li>Per cercare una città scrivi sulla barra di ricerca (dove compare la scritta "Inserisci la città") il suo nome</li>
        <li>A questo punto basterà premere il tasto "Cerca", accanto alla barra di ricerca, per ottenere le informazioni sul meteo della città in tempi record!</li>
      </ol>
      <p><b>Per ulteriori dettagli contattaci al numero indicato o mandaci un'email, saremo felici di rispondere al più presto!</b></p>
    </div>
  </div>
  