<div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <h1>Benvenuti a METEOPERFETTO</h1>
        <p class="lead">Il nostro sito offre un servizio di previsioni meteo preciso e affidabile per aiutarti a pianificare la tua giornata.</p>
        <p class="lead">Utilizziamo dati aggiornati da OpenWeather per fornire informazioni dettagliate sulle condizioni meteorologiche di tutto il mondo.</p>
        <p class="lead">Siamo onorati di offrire questo servizio e speriamo che ti sia utile per pianificare le tue attività all'aperto o semplicemente per rimanere informato sulle condizioni del tempo.</p>
        <p class="lead">Per chiarimenti sull'utilizzo del sito, <a href="/INFORMAZIONI">clicca qui</a>.</p>
        <p class="lead" >Per qualsiasi problema, non esitare a contattarci</p>
      </div>
    </div>
  </div>
